* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.header h1 {
    font-size: 50px;
}

.header {
    background-image: url(images/header\ background.jpg);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    margin: 0;
    padding: 25px; 
}

.nav li {
    display: inline;
} 
 
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    font-size: 24px;
}

li a:hover{
    background-color: lightskyblue;
    text-decoration: underline;
}

.about-me h2,
.contact-me h4 {
    font-size: 36px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}

.main {
    display: flex;
    height: 80vh;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* height: 150px; */
    width: 900px ;
    /* border: 1px solid rgb(14, 157, 240); */
    margin: 5px;
    
}

.profilepic {
    background-image: url(images/profile.jpg);
    height: 400px;
    width: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    border-radius: 10px;
    box-shadow: 10px 10px 5px black;
}

.about-metext {
    /* border: 1px solid black; */
    width: 500px;
    height: 95%;
    margin: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;   
}

.card ul li {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    color: black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px; 
}

.card1 {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    align-items: flex-end; */
    /* height: 500px; */
    width: 1000px ;
    /* border: 1px solid rgb(14, 157, 240); */
    margin: 5px;   
}

.biggerblock {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    height: 40%;
    margin: 2px;
}

.bigcard {
    margin: 10px;
    height: 250px;
    width: 900px;
    border-radius: 15px;
    background-image: url(images/coding.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* border: 1px solid rgb(14, 157, 240); */
}

.smallblocks {
    display:flex;
    justify-content: space-between;
    padding: 15px;
    margin: 10px;

}

.smallcard {
    margin: 5px;
    padding: 1px;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 5px black;
    border-radius: 15px;   
    background-size: cover;
    width: 200px;
    height: 250px;
    background-position: center;

}

#project2 {
    background-image: url(images/pizza.jpg);
}
#project3 {
    background-image: url(images/logistics-management.jpg);
}
#project4 {
    background-image: url(images/managment2.jpg);
}
#project5 {
    background-image: url(images/managment.jpg);
}

footer {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* text-align: center; */
    background-image: url(images/header\ background.jpg);
}

h4 {
    font-size: 48px;
    display: flex;
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif;
}

footer ul li {
    display: inline;
    float: left;
    align-content: center;
    justify-content: space-between;
    padding: 10px;
    margin: 15px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;




}
@media screen and (max-width: 1440px) {
    .header, .card1, .card2,  
        {display: flex;
           flex-direction: column;
    }
    /* .header .nav
        {display: flex;
        /* flex: 1 1 200px; */
/* }
    .main
        {display: flex;
        flex: 1 2 900px;
        width: 100%;
        /* flex-direction: column; */
        /* margin-left: 5%;
    }
    .card 
        {width: 45%;
    } */
    /* .card1 {
        flex-wrap: wrap;
        height: 100%;
        display: flex;
        width: 100%;
        flex: 1 2 900px;
    } */
    /* .header-work {
        height: 5%;
    }
    .smallblocks {
        display: flex;
        flex-wrap: wrap;
        height: 30%;
        width: 100%;}
        /* flex: 1 2 45%;} */
/*     
    .biggerblock {
        height: 40%;
    }
        
    .smallcard {
        width: 300px;
    }  */
        
    }