* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: deepskyblue;
}

.header h1 {
    font-size: 50px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/header\ background.jpg);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    height: 125px;
    background-image: url(images/header\ background.jpg);
}

.nav li {
    display: inline-block;
    margin-right: 20px;
    color: black;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.about-me h2,
.contact-me h4 {
    font-size: 36px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: deepskyblue;
}

.main {
    display: flex;
    height: 80vh;
    background-color: deepskyblue;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* height: 150px; */
    width: 900px ;
    border: 1px solid rgb(14, 157, 240);
    margin: 5px;
    background-color: deepskyblue;
}

.card h2, h3, h4 {
    font-size: 36px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: deepskyblue;
}

.profilepic {
    background-color: black;
    height: 400px;
    width: 400px;
    background-image: url(images/profile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.about-metext {
    border: 1px solid black;
    width: 500px;
    height: 95%;
    margin: 25px;
    background-color: deepskyblue;
}
.about-metext ul {
    background-color: deepskyblue;
}

.card ul li {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    color: black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px;
    background-color: deepskyblue;
}

.card1 {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    align-items: flex-end; */
    /* height: 500px; */
    width: 1000px ;
    border: 1px solid rgb(14, 157, 240);
    margin: 5px;
    background-color: deepskyblue;
}

.biggerblock {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    height: 40%;
    margin: 2px;
    background-color: deepskyblue;
}

.bigcard {
    margin: 10px;
    height: 250px;
    width: 900px;
    border-radius: 15px;
    background-image: url(images/coding.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: 1px solid rgb(14, 157, 240);
}

.smallblocks {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 50%;
    /* border: 2px solid black; */
    margin: 5px;
    background-color: deepskyblue;
}

/* .smallblocks:hover {
    background-color: blue;
    color: black;
} */

.smallcard {   
    height: 175px;
    width: 440px;
    border: 1px solid rgb(14, 157, 240);
    margin: 5px;
    border-radius: 15px;
}

#project2 {
    background-image: url(images/pizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#project3 {
    background-image: url(images/logistics-management.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#project4 {
    background-image: url(images/managment2.jpg);
    background-repeat: no-repeat;
    background-size: content;
    background-position: center center;
}

#project5 {
    background-image: url(images/managment.jpg);
    background-repeat: no-repeat;
    background-size: content;
    background-position: center center;
}

.card2 {
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(14, 157, 240);
    background-color: deepskyblue;
}

.card2 ul li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    background-color: deepskyblue;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
 h4 {
    background-color: deepskyblue;
 }
@media screen and (max-width: 1440px) {
    .header 
        {display: flex;
    }
    .header .nav
        {display: flex;
        /* flex: 1 1 200px; */
}
    .main
        {display: flex;
        flex: 1 2 900px;
        width: 100%;
        /* flex-direction: column; */
        margin-left: 5%;
    }
    .card 
        {width: 45%;
    }
    .card1 {
        flex-wrap: wrap;
        height: 100%;
        display: flex;
        width: 100%;
        flex: 1 2 900px;
    }
    .header-work {
        height: 5%;
    }
    .smallblocks {
        display: flex;
        flex-wrap: wrap;
        height: 30%;
        width: 100%;}
        /* flex: 1 2 45%;} */
    
    .biggerblock {
        height: 40%;
    }
        
    .smallcard {
        width: 300px;
    }
        


    }